%h1 لیست فولدرهای گالری
.col-sm-2
%table.col-sm-9.fa
  %thead
    %tr
      %th.fa عنوان فارسی
      %th.fa عنوان انگلیسی
      %th.fa کد گروه محصول
      %th
      %th

  %tbody
    - @gallery_folders.each do |gallery_folder|
      %tr
        %td= gallery_folder.title_fa
        %td= gallery_folder.title_en
        %td= gallery_folder.category_id
        %td= link_to 'Show', gallery_folder
        %td= link_to 'Edit', edit_gallery_folder_path(gallery_folder)
        %td= link_to 'Destroy', gallery_folder, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'فولدر جدید', new_gallery_folder_path, :class => 'btn'
