.fa{:style => "overflow-y:scroll"}
  %h2= 'لیست پیام های ارسالی'
  .col-sm-8
    .col-sm-4
      %span
        تعداد کل
        = @num_msg
    .col-sm-4
      %span
        خوانده نشده
        = @unread_msg
    .col-sm-4
      %span
        خوانده شده
        = @read_msg

  %table.table
    %tr
      %th.count ردیف
      %th ایمیل
      %th نام
      %th تلفن
      %th متن    
      %th عملیات
     

    - @messages.each_with_index do |message, i| 
      %tr{:class => ('visited' unless message.visited == true)}
        %td= (i+1)        
        %td= message.email
        %td= message.name
        %td= message.phone
        %td= truncate(strip_tags(message.text), :length => 30)
        %td
          - if is_admin?
            .model-admin-link{:style => "margin-top:0;"}
              = link_to 'مشاهده', message
              = link_to 'ویرایش', edit_message_path(message)
              = link_to 'حذف', message, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }



