%h1 Listing messages

%table
  %tr
    %th Email
    %th Name
    %th Phone
    %th Text
    %th Visited
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.email
      %td= message.name
      %td= message.phone
      %td= message.text
      %td= message.visited
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
