.fa.col-sm-11{:style => "padding:10px"}
  %p
    %b= t('msg.contact-email')
    = @message.email
  %p
    %b= t('msg.contact-name')
    = @message.name
  %p
    %b= t('msg.contact-phone')
    = @message.phone
  %p
    %b= t('msg.contact-msg')
    = @message.text


