= form_for @slider, :html => {:multipart => true} do |f|
  - if @slider.errors.any?
    #error_explanation      
      %ul
        - @slider.errors.each do |attr, msg|
          %li= msg

  .field
    .s-upload-img
      = f.file_field :image, :id => "slide_img"    
    .s-description
      = f.label "توضیحات به انگلیسی"
      = f.text_area :description_en, :id => "slide_des"
    .s-description
      = f.label "توضیحات به فارسی"
      = f.text_area :description_fa, :id => "slide_des"
  .clrear-float
    
  .actions
    .div_btn
      = f.submit 'ثبت تصویر', :class => "btn"
