-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to content_tag("span", "عکس جدید"), new_slider_path
.slider.fa
  .index-slider.set-center 
    - @sliders.each do |slide|
      .box-3
        %div
          = link_to content_tag("span", "ویرایش"), edit_slider_path(slide) , :title => "رنگین کمان_"+slide.image_file_name
          \|        
          = link_to 'حذف', slide, :method => :delete, :data => { confirm: 'آیا میخواهید این  تصویر را حذف کنید?'} , :title => "رنگین کمان_"+slide.image_file_name
        = image_tag slide.image(:large), :title => "رنگین کمان_"+slide.image_file_name, :alt => "رنگین کمان_"+slide.image_file_name
    
      
      
:javascript 
  $(".item").first().addClass("active");
  $(".slide-indicator").first().addClass("active");
  $('.carousel').carousel();
