#content 
  .show-pro 
    .col-sm-6
      = image_tag @slider.image(:gallery_size)
    .col-sm-6
      = @slider.description
   

    = link_to content_tag("span", "ویرایش"), edit_slider_path(@slider)
    \|
    = link_to content_tag("span", "بازگشت"), root_path
    \|        
    = link_to 'حذف', @slider, :method => :delete, :data => { confirm: 'آیا میخواهید این  تصویر را حذف کنید?'} 

