%h1 Listing resellers

%table
  %tr
    %th Title fa
    %th Title en
    %th Management name fa
    %th Management name en
    %th Phone
    %th Address fa
    %th Address en
    %th
    %th
    %th

  - @resellers.each do |reseller|
    %tr
      %td= reseller.title_fa
      %td= reseller.title_en
      %td= reseller.Management_name_fa
      %td= reseller.Management_name_en
      %td= reseller.phone
      %td= reseller.address_fa
      %td= reseller.address_en
      %td= link_to 'Show', reseller
      %td= link_to 'Edit', edit_reseller_path(reseller)
      %td= link_to 'Destroy', reseller, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reseller', new_reseller_path
