.set-locale{:id => I18n.locale}
  %h1= t('resellers')
  -if is_admin?
    = link_to 'تعریف نمایندگی جدید', new_reseller_path

%table  
    
  - @resellers.each do |reseller|
    %tr
      %td= reseller.title      
      %td= reseller.Management_name      
      %td= reseller.phone
      %td= reseller.address      
      %td= link_to 'Show', reseller
      -if is_admin?
        %td
          = link_to 'ویرایش', edit_reseller_path(reseller)
          = link_to 'حذف', reseller, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

%br


