-if is_admin?
  .admin-link.fa   
    = link_to 'ویرایش', edit_user_path(@user)
    

.fa.set-center{:style => "width:50%"}
  %p#notice= notice

  %p
    %b ایمیل
    = @user.email
  %p
    %b نام کاربری
    = @user.user_name
  %p
    %b رمز عبور
    = @user.password

 
