
%div= link_to 'مدیریت محصولات', Category
%div= link_to 'تنوع مدل محصولات', new_product_path
%div= link_to 'افزودن تصویر به مدل', new_picture_path
%div= link_to 'تعریف پوشه برای محصولات', new_product_folder_path
%div= link_to 'مدیریت گالری', new_gallery_path  
%div= link_to 'نمایندگی های فروش', resellers_path
%div= link_to 'زیرگروه پارکت', SubCategory  

%div= link_to 'مدیریت اسلایدر', Slider
%div= link_to 'مدیریت کاتالوگ', Catalogue 
%div= link_to 'مشاهده لینک های ارسال شده', SendLink
%div  
  = link_to 'پیام های ارسال شده', Message
  - @unread_msg = Message.where(visited: 0).count
  - if @unread_msg.present?
    %span.unread_msg= @unread_msg
%div= link_to 'پروفایل مدیر', edit_user_path(current_user)
%div= link_to 'خروج', delete_session_path
