
.col-sm-6
  %div= link_to 'پیام های ارسالی', Message
  %div= link_to 'گروه بندی محصولات', Category
  %div= link_to 'مدیریت محصولات', Product
  %div= link_to 'نمایندگی های فروش', resellers_path
  %div= link_to 'مدیریت اسلایدر', Slider
  
.col-sm-6
  %div= link_to 'مدیریت صفحات متنی', Page  
  %div= link_to 'مشاهده ارسال لینکها', SendLink
  %div= link_to 'پروفایل مدیر', User
  %div= link_to 'خروج', delete_session_path
