
.col-sm-6  
  %div= link_to 'مدیریت محصولات', Category
  %div= link_to 'تنوع مدل محصولات', new_product_path
  %div= link_to 'افزودن تصویر به مدل', new_picture_path
  %div= link_to 'مدیریت گالری', new_gallery_path  
  %div= link_to 'نمایندگی های فروش', resellers_path
  
   
  
.col-sm-6
  %div= link_to 'مدیریت اسلایدر', Slider
  %div= link_to 'مدیریت کاتالوگ', Catalogue 
  %div= link_to 'مشاهده ارسال لینکها', SendLink
  %div= link_to 'پیام های ارسالی', Message
  %div= link_to 'پروفایل مدیر', edit_user_path(current_user)
  %div= link_to 'خروج', delete_session_path
