%ul
  %li
    = link_to 'پیام های ارسالی', Message
  %li
    = link_to 'گروه بندی محصولات', Category
  %li
    = link_to 'مدیریت محصولات', Product
  %li
    = link_to 'نمایندگی های فروش', Reseller
  %li
    = link_to 'مدیریت اسلایدر', Slider
  %li
    = link_to 'مدیریت صفحات متنی', Page  
