= form_for @product_folder do |f|
  - if @product_folder.errors.any?
    #error_explanation      
      %ul
        - @product_folder.errors.each do |msg, attr|
          %li= msg

  .field
    = f.label 'عنوان پوشه به انگلیسی:'
    = f.text_field :title_en
  .field
    = f.label 'عنوان پوشه به فارسی:'
    = f.text_field :title_fa
  .field
    = f.label 'محصول مربوطه را انتخاب کنید.'
    = f.select(:product_id, Product.all.collect {|u| [u.title_fa, u.id]}, :prompt => ' محصول را انتخاب کنید.')          
  .actions
    = f.submit 'ثبت', :class=> "btn btn-default"
