= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %ul
        - @page.errors.each do |attr, msg|
          %li= msg

  .field
    = f.label "عنوان صفحه به فارسی"
    = @page.title_fa
  .field
    = f.label "عنوان صفحه به انگلیسی"
    = @page.title
  
  .field
    = f.label "متن صفحه به فارسی:"
    = f.text_area :html_text_fa
  .field
    = f.label "متن صفحه به انگلیسی:"
    = f.text_area :html_text
  .actions
    = f.submit 'ثبت'
