%p  
  = @page.title
%p  
  = @page.html_text
  
%hr  
-if @page.read_attribute("title") == "Contact us"
  = render "shared/msg_form"
= link_to 'ویرایش', edit_page_path(@page)
\|
= link_to 'بازگشت', pages_path


