.col-sm-4
  .form-group  
    = f.label "عنوان گواهینامه به فارسی"
    = f.text_field :title_fa
  .form-group  
    = f.label "عنوان گواهینامه به انگلیسی"
    = f.text_field :title_en
  .form-group  
    = f.label "تصویر گواهینامه"
    = f.file_field :image  
  .form-group       
    = f.link_to_remove  do
      = image_tag "del.png"
      %span= "حذف  "
