
%h1= 'گواهینامه ها'
= link_to 'گواهینامه جدید', new_certification_path
%table
  %tr
    %th عنوان
    
    %th
    %th
    %th

  - @certifications.each do |certification|
    %tr
      %td= certification.title      
      %td= link_to 'Show', certification
      %td= link_to 'Edit', edit_certification_path(certification)
      %td= link_to 'Destroy', certification, :method => :delete, :data => { :confirm => 'Are you sure?' }




