= image_tag 'slide12.jpg', :class => "bg"
-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    -if is_admin?
    
      = link_to 'بازگشت', root_path

%p#notice= notice
.set-center{:style => "width:50%"}
  %p
    %b عنوان گواهینامه
    = @certification.title_fa
  %p
    = image_tag @certification.image(:medium), :title => @certification.title , :alt => @certification.title 
  
