.fa
  -if is_admin?
    .admin-link.fa
      %p= 'منوی صفحه'
      %hr
      = link_to 'ویرایش', edit_picture_path(@picture)
      \|
      = link_to 'حذف', @picture, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
      \|
      = link_to 'بازگشت', :back
  .col-sm-8.show-picture
    %p
      %b عنوان
      = @picture.title
    = image_tag @picture.image(:original)
