= form_for @gallery do |f|
  - if @gallery.errors.any?
    #error_explanation
      
      %ul
        - @gallery.errors.each do |attr, msg|
          %li= msg
  .col-sm-6.set-center
    .form-group
      = f.label 'انتخاب گروه محصولات', :class => "control-label"   
      = f.select(:category_id, Category.all.collect {|u| [u.title_fa, u.id]}, :prompt => '  محصول را انتخاب کنید.')        
    .form-group
      = f.label 'انتخاب فولدر مربوطه', :class => "control-label"   
      = f.select(:g_folder_id, GalleryFolder.all.collect {|u| [u.title_fa, u.id]}, :prompt => '  فولدر مربوط را انتخاب کنید.')        
    .form-group
      = f.label 'انتخاب تصویر', :class => "control-label"   
      - if @gallery.image.present?
        = image_tag @gallery.image(:small)
      = f.file_field :image
  .col-sm-6
    .form-group
      = f.label 'جزییات فارسی', :class => "control-label"   
      = f.text_area :description_fa, :class => "form-control "
    .form-group
      = f.label 'جزییات انگلیسی', :class => "control-label"   
      = f.text_area :description_en, :class => "form-control "
    .form-group
      = f.submit 'ثبت', :class=> "btn btn-default"
