-if is_admin?
  .admin-link.fa
   
    = link_to 'افزودن تصویر جدید', new_gallery_path
= image_tag 'slides12.jpg', :class => "bg", :title => "رنگین کمان", :alt => "رنگین کمان"
.gallery-category.set-center
  - @category.each do |category|  
    .cat-group{:id => "item#{category.id}", :divname => "item#{category.id}"} 
      .set-center{:style => "margin-top:5px; height:100%"} 
        = image_tag 'cat-title.png', :title => category.title_fa, :alt => category.title_fa, :style => "height:100%"
        .set-center.pro-cat-title= category.title
  
.products-group.set-center  
  - @category.each do |category|  
    .products.set-center{:class => "item#{category.id}", :divname => "item#{category.id}"}               
      - category.galleries.each do |gallery|              
        .pro_wrapper{align: "center", :class => I18n.locale}                          
          .pro-info.set-center
            =link_to gallery.image(:original), :data => { :colorbox => true }, :class => "show-gallery", :title => gallery.category.title_fa do              
              = image_tag  gallery.image(:medium), :class => "gallery-pic", :alt => gallery.category.title_fa, :title => gallery.category.title_fa
              .cover
                = image_tag 'zoom.png', :class => "zoom-pic"  , :alt => gallery.category.title_fa, :title => gallery.category.title_fa
            %div
              - if is_admin?
                = link_to 'ویرایش', edit_gallery_path(gallery), :alt => gallery.category.title_fa, :title => gallery.category.title_fa
                \|
                = link_to 'حذف', gallery, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }, :alt => gallery.category.title_fa, :title => gallery.category.title_fa

              
        
    

:javascript
  $( document ).ready(function() {
    $('.cat-group#title2').addClass('active');
    
    $('.cat-group').click(function(){
    
      $('.cat-group').removeClass('active');
      $(this).addClass('active');
      var item = $(this).attr('id');
      
      $('.products').hide(); 
      $('.products.'+[item]).fadeIn(1000);      
      
      
    });
    var title = $('.show-gallery img').attr('alt');
    $('.show-gallery').colorbox({title: title });
    
  });
 


 
