-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'افزودن تصویر جدید', new_gallery_path
= image_tag 'lobby.jpg', :class => "bg"
- @category.each do |category|  
  .cat-group{:id => "item#{category.id}", :divname => "item#{category.id}"} 
    .set-center{:style => "margin-top:5px"} 
      = image_tag 'cat-title.png'
      .set-center.pro-cat-title= category.title
  
.products-group.set-center  
  - @category.each do |category|  
    .products.set-center{:class => "item#{category.id}", :divname => "item#{category.id}"}               
      - category.galleries.each do |gallery|              
        .pro_wrapper{align: "center", :class => I18n.locale}                          
          .pro-info.set-center
            =link_to gallery.image(:large), :data => { :colorbox => true }, :class => "show-gallery" do              
              = image_tag  gallery.image(:medium), :class => "gallery-pic", :alt => gallery.image_file_name
              .cover
                = image_tag 'zoom.png', :class => "zoom-pic"  
            %div
              - if is_admin?
                = link_to 'ویرایش', edit_gallery_path(gallery)
                \|
                = link_to 'حذف', gallery, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

              
        
    

:javascript
  $( document ).ready(function() {
    $('.cat-group#title2').addClass('active');
    
    $('.cat-group').click(function(){
    
      $('.cat-group').removeClass('active');
      $(this).addClass('active');
      var item = $(this).attr('id');
      
      $('.products').hide(); 
      $('.products.'+[item]).fadeIn(1000);      
      
      
    });
    var title = $('.show-gallery img').attr('alt');
    $('.show-gallery').colorbox({title: title });
    
  });
 


 
