= form_for @category, :html => { :multipart => true  } do |f|
  - if @category.errors.any?
    #error_explanation      
      %ul
        - @category.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label "عنوان گروه به فارسی", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :title_fa, :class => "form-control"
  .form-group
    = f.label "عنوان گروه به انگلیسی", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :title_en, :class => "form-control"
  .form-group
    = f.label "توضیحات به فارسی", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_area :description_fa, :class => "form-control"
  .form-group
    = f.label "توضیحات به انگلیسی", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_area :description_en, :class => "form-control"
  -if @category.image.present?
    .form-group      
      .col-sm-4        
        = image_tag @category.image(:small)
  .form-group
    = f.label " تصویر نمونه:", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.file_field :image, :class => "form-control"
  .clr-float
  .form-group
    = f.submit 'ثبت'
