
-if is_admin?
  .admin-link.fa    
    = link_to 'تعریف محصول جدید', new_category_path, :title => "رنگین کمان"

= image_tag 'products.jpg', :class => "bg", :alt => "رنگین کمان", :title => "رنگین کمان"
.show-pro.set-center 
  - @categories.each do |category|    
    .box-3.set-center{align: "center", :class => I18n.locale}                            
      - if is_admin?  
        .model-admin-link
          = link_to 'ویرایش', edit_category_path(category)
          -#
            = link_to 'حذف', category, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
      = link_to category, :title => category.title_fa , :class => "category-link-title" do 
        .category-image
          = image_tag category.image(:small), :class => "sample-img", :alt => category.title_fa, :title =>  category.title_fa
        %p.cat-title-on-box-3 
          %h2
            = category.title 
      
      .box-menu 
        %ul
          - if category.products.present?
            %li= link_to t('model'), category, :title => category.title_fa
          - if category.installation.present?
            %li= link_to t('technical'), category, :title => category.title_fa
          - if category.maintaion.present?
            %li= link_to t('maintain'), category, :title => category.title_fa
          - if category.warranty.present?
            %li= link_to t('warranty'), category, :title => category.title_fa
          - if category.certifications.present?
            %li= link_to t('certificate'), category, :title => category.title_fa
    
      
        
