%h1= t('category')
-if is_admin?
  = link_to 'تعریف گروه جدید', new_category_path

%table
  %tr
    %th Title_fa
    %th Title_en
    %th Description_fa
    %th Description_en
    %th    
    %th

  - @categories.each do |category|
    %tr
      %td= category.title_fa
      %td= category.title_en
      %td= category.description_fa
      %td= category.description_en
      %td= link_to 'Show', category
      -if is_admin?
        %td
          = link_to 'ویرایش', edit_category_path(category)
          = link_to 'حذف', category, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }


