
.col-sm-4
  %h1= 'تعریف گروه جدید '
.col-sm-6.category-link
  = link_to 'نصب و راه اندازی', '#install'
  \|
  = link_to 'شرایط نگهداری', '#maintaion'
  \|
  = link_to 'گارانتی', '#warranty'
  \|
  = link_to 'گواهینامه ها', '#certification'
.clr-float
= render 'form'

= link_to 'بازگشت', categories_path
\|
= link_to '#general' do
  = image_tag "go-up.png"
  %span= 'بازگشت به بالا صفحه'
