
.info-holder{:id => I18n.locale}
  %p#notice= notice  
  
  .category-info.general.float-left
    .row.col-sm-9
      %p   
        = @category.title
      %p    
        = @category.description
    
      
      = link_to t('model'), '#model', :id => "show-model"
      %br
      = link_to t('maintain'), '#maintaion', :id => "show-main"
      %br
      = link_to t('technical'), '#installation', :id => "show-inst"
      %br
      = link_to t('warranty'), '#installation', :id => "show-war"
      %br
      = link_to t('certificate'), '#cer', :id => "show-cer"
      
      %br
      = link_to 'ویرایش', edit_category_path(@category)
      \|
      = link_to 'بازگشت', categories_path
  #category-details    
    .col-sm-8.float-left#installation
      %b= 'نصب'
      %p=raw @category.installation
      
    .col-sm-8.float-left#maintaion      
      %b= 'شرایط'
      %p=raw @category.maintaion
      
    .col-sm-8.float-left#warranty
      %b= 'گارانتی'
      %p=raw @category.warranty
          
    
      
    .row.col-sm-8#pictures.float-left       
      - @category.products.each do |product|         
        - product.pictures.each do |pic|              
          = image_tag pic.image(:small) 
          
      
    .row.col-sm-8#certification.float-left{:style => "overflow-y: scroll; max-height:350px; "}
      = link_to "", "#",:name => "cer"
      %b= 'گواهینامه ها'
      %br
      - @category.certifications.each do |certification|      
        .col-sm-3.box-3{:style => "text-align:center"}
          =link_to (image_tag certification.image(:small)), certification.image(:original), :data => { :colorbox => true }
          .cer-title= certification.title
            

      
:javascript



$('#show-cer').click(function(){   
  $('#category-details').children().hide(); 
  $('.row.col-sm-8#certification').show(1000);
  
});
$('#show-model').click(function(){   
  $('#category-details').children().hide(); 
  $('#pictures').show(1000);
  
});

$('#show-main').click(function(){          
  $('#category-details').children().hide(); 
  $('#category-details #maintaion').fadeIn(1000);
  
});

$('#show-inst').click(function(){          
  $('#category-details').children().hide(); 
  $('#category-details #installation').fadeIn(1000);
  
});

$('#show-war').click(function(){          
  $('#category-details').children().hide(); 
  $('#category-details #warranty').fadeIn(1000);    
});



