%p#notice= notice

%p
  %b Title:
  = @category.title_fa
  = @category.title_en
%p
  %b Description:
  = @category.description_fa
  = @category.description_en
%p
  = image_tag @category.image(:small)

= link_to 'ویرایش', edit_category_path(@category)
\|
= link_to 'بازگشت', categories_path
