.info-holder
  -if is_admin?
    .admin-link.fa
      %p= 'منوی صفحه'
      %hr
      = link_to 'ویرایش', edit_category_path(@category)
      \|
      = link_to 'حذف', @category, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
      \|
      = link_to 'بازگشت', categories_path
  = image_tag 'slide12.jpg', :class => "bg"  
  
  .category-info.general
    %div
      .line.set-center  
        = image_tag 'cat-title.png'
        .go-up.set-center.title-cat= @category.title
      .category-link 
        .cat-link
          =raw (@category.description)
        %ul#banner          
          - if @category.products.present?
            %li
              = link_to t('model'), '#pictures', :id => "show-model"
          
          - if @category.maintaion.present?
            %li
              = link_to t('maintain'), '#maintaion', :id => "show-main"
          
          - if @category.installation.present?
            %li
              = link_to t('technical'), '#installation', :id => "show-inst"
          
          - if @category.warranty.present?
            %li
              = link_to t('warranty'), '#installation', :id => "show-war"
          
          - if @category.certifications.present?
            %li
              = link_to t('certificate'), '#cer', :id => "show-cer"          
            
         
  #category-details    
    .col-sm-8.details.bg-opacity#installation
      .box-title{:class => I18n.locale}= t('technical')
      %p=raw @category.installation
      
    .col-sm-8.details.bg-opacity#maintaion
      .box-title{:class => I18n.locale}= t('maintain')
      %p=raw @category.maintaion
      
    .col-sm-8.details.bg-opacity#warranty
      .box-title{:class => I18n.locale}= t('warranty')
      %p=raw @category.warranty
    
    .row#pictures
      .all-models.details.col-sm-8
        - @category.products.each_slice(4) do |products|
          #product-holder{:style => "margin-left:5%"}
            -products.each do |product|                 
              .product-pics                                                 
                = link_to  product, :category_id => @category.id do
                  .title-product
                    = product.title
                  .img-box
                    = image_tag product.image(:medium), :class => "sample"
                - if product.coming_soon
                  = image_tag 'coming-soon.png', :class => "coming-soon", :style => 'margin-right:-62%; margin-top:-118%'  
                
      .clr-float
         
      .clr-float
    %div#certification
      = link_to "", "#",:name => "cer"
      .all-models.details.col-sm-8      
        .box-title{:class => I18n.locale, :style => "color:#1c0f09; margin-top:-5%"}= t('certificate')
        #show-all-certificate        
          - @category.certifications.each do |certification|      
            .col-sm-3.box-3.pro-cer{:style => "text-align:center"}
              =link_to (image_tag certification.image(:small), :style => "height:50%"), certification.image(:original), :target => "_blank"
              .cer-title= certification.title
      
      
      .clr-float
      
:javascript
  $( document ).ready(function() {
    $('#category-details').children().hide(); 
    $('#pictures').show(1000);
  });
  
  $('#show-cer').click(function(){   
    $('#category-details').children().hide(); 
    $('#certification').show(1000);
    
  });
  $('#show-model').click(function(){   
    $('#category-details').children().hide(); 
    $('#pictures').show(1000);
    
  });

  $('#show-main').click(function(){          
    $('#category-details').children().hide(); 
    $('#maintaion').fadeIn(1000);
    
  });

  $('#show-inst').click(function(){          
    $('#category-details').children().hide(); 
    $('#installation').fadeIn(1000);
    
  });

  $('#show-war').click(function(){          
    $('#category-details').children().hide(); 
    $('#warranty').fadeIn(1000);    
  });

  

  
