#content{"data-cycle-manual-speed" => "300", "data-cycle-next" => "#prev-button", "data-cycle-overlay-fx-in" => "slideDown", "data-cycle-overlay-fx-out" => "slideUp", "data-cycle-pager" => "#pager-top", "data-cycle-prev" => "#next-button", "data-cycle-speed" => "2000", :class => I18n.locale}
  %p#notice= notice  
  .row
    %p   
      = @category.title
    %p    
      = @category.description
  .row.col-sm-6        
    - @category.products.each do |product|
      - product.pictures.each do |pic|
        .col-sm-4
          = image_tag pic.image(:small)
    
  = link_to 'ویرایش', edit_category_path(@category)
  \|
  = link_to 'بازگشت', categories_path
      

