- if is_admin?
  .model-admin-link
    = link_to 'ویرایش', edit_picture_path(picture)
    \|
    = link_to 'حذف', picture, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' } 

.pic-title= picture.title

- if  picture.download
  .go-download
    = link_to  download_product_path(:picture_id =>  picture.id) do
      = image_tag 'dnwn.png', :style => "height:30px; width:30px;"
      = t ('download')
=link_to picture.image(:original), :data => { :colorbox => true }, :class => "show-product", :title =>  picture.title do          
  - if picture.coming_soon
    = image_tag 'coming-soon.png', :class => "coming-soon"
  = image_tag  picture.image(:small), :class => "sample", :model => picture.title

  
  .cover
    = image_tag 'zoom.png', :class => "zoom-pic"
