= nested_form_for @product,  :html => { :multipart => true  } do |f| 
  - if @product.errors.any?
    #error_explanation      
      %ul
        - @product.errors.each do |attr, msg|
          %li= msg
  .form-group  
    = f.label "عنوان محصول به فارسی:", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :title_fa, :class => "form-control"
  .form-group 
    = f.label "عنوان محصول به انگلیسی:", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :title, :class => "form-control"
  .form-group 
    = f.label "توضیحات به فارسی:", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_area :description_fa, :class => "form-control"
  .form-group 
    = f.label "توضیحات به انگلیسی:", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.text_area :description, :class => "form-control"
  .form-group 
    = f.label "گروه محصول", :class => "col-sm-2 control-label"
    .col-sm-4
      = f.select(:category_id, Category.all.collect {|u| [u.title_fa, u.id]}, :prompt => 'گروه محصول را انتخاب کنید.')        
  .clr-float
  .form-group 
    = f.fields_for :pictures do |picture|  
      = render "shared/upload_image_form", :picture => picture
  .col-sm-4
    = f.link_to_add content_tag(:span, "افزودن تصویر"), :pictures, :id => "add_new_picture"    
  .form-group 
    = f.submit 'ثبت'

:javascript
  function enable_file_select(){
    $(".enable_file_select").unbind('click').click(function(){
      $(this).parent().find("input:file").click();
    });
   }

  enable_file_select();

  $("#add_new_picture").click(function(){
    $(".enable_file_select").unbind('click');
    window.setTimeout('enable_file_select()', 1000);
  });
