= nested_form_for @product,  :html => { :multipart => true  } do |f|
  - if @product.errors.any?
    #error_explanation      
      %ul
        - @product.errors.each do |attr, msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label "گروه محصول"
    = f.select(:category_id, Category.all.collect {|u| [u.name, u.id]}, :prompt => 'گروه محصول را انتخاب کنید.')        
  .field
    = f.fields_for :pictures do |picture|  
      = render "shared/upload_image_form", :picture => picture
  .field
    = f.link_to_add content_tag(:span, "افزودن تصویر"), :pictures, :id => "add_new_picture"    
  .actions
    = f.submit 'Save'

:javascript
  function enable_file_select(){
    $(".enable_file_select").unbind('click').click(function(){
      $(this).parent().find("input:file").click();
    });
   }

  enable_file_select();

  $("#add_new_picture").click(function(){
    $(".enable_file_select").unbind('click');
    window.setTimeout('enable_file_select()', 1000);
  });
