%h1= t('product')
-if is_admin?
  = link_to 'تعریف محصول جدید', new_product_path

%table
  %tr
    %th Title_fa
    %th Title
    %th Description_fa
    %th Description
    %th Category
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.title_fa
      %td= product.title
      %td= product.description_fa
      %td= product.description
      %td= product.category.title
      %td= link_to 'Show', product
      -if is_admin?
        %td
          = link_to 'ویرایش', edit_product_path(product)
          = link_to 'حذف', product, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }




