= image_tag 'lobby.jpg', :class => "bg"  , :title => "رنگین کمان", :alt => "رنگین کمان"

-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'ویرایش', edit_product_path(@product), :title => @product.category.title_fa + '_'+@product.title_fa
    \|
    = link_to 'حذف', @product, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }   , :title => @product.category.title_fa + '_'+@product.title_fa
    \|
    = link_to 'بازگشت', products_path , :title => @product.category.title_fa + '_'+@product.title_fa
      

.category-info.general
  %div
    .line.set-center  
      = image_tag 'cat-title.png', :title => @product.category.title_fa + '_'+@product.title_fa, :alt => @product.category.title_fa + '_'+@product.title_fa
      .go-up.set-center.title-cat= @product.title
    .category-link 
      %b= @pro_category
      .cat-link{:style => "height:100%"}
        - if @product.description.present?                 
          %div=raw @product.description  
                  
    
.product_show_pics
  -#
    - if @product.product_folders.present?
      .col-sm-10.set-center
        %button.filter.active{"data-filter" => "all", :style => "color:#FBFB87; font-size:20px;margin-top:2%;"}= t('filter-all')
        - @product.product_folders.each do |product_folder|
          %button.filter{:title => @product.category.title_fa + '_'+product_folder.title_fa, "data-filter" => "#folder-"+product_folder.id.to_s, :style => "color:#FBFB87; font-size:20px;margin-top:2%;"}= product_folder.title 
      .clr-float
      .product-details#Container              
        - @product.pictures.order('title_en ASC').each do |picture|
          - if picture.product_folder_id.present?
            .model-pro.mix{:id => 'folder-'+picture.product_folder_id.to_s, "data-my-order" => picture.id}
              = render 'products/filter_folder', :picture => picture, :product => @product
    
    - else 
  .product-details      
    - @product.pictures.order('title_en ASC').each do |picture|        
      .model-pro
        = render 'products/filter_folder', :picture => picture, :product => @product

.clr-float

:javascript    
  $('.show-product').colorbox({title: $(this).attr('title') });   
  $(function(){
    $('#Container').mixItUp();  
  });
  

