%p#notice= notice

%p
  %b Title:
  = @product.title
%p
  %b Description:
  = @product.description
%p
  %b Category:
  = @product.category.title
  
.show-pics.go-center
  - @product.pictures.each do |pic|
    .project-pics
      =link_to (image_tag pic.image(:medium)), pic.image(:large), :data => { :colorbox => true }, :title => pic.description         
    .vertical-line


= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
