= image_tag 'lobby.jpg', :class => "bg"   

-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'ویرایش', edit_product_path(@product)    
    \|
    = link_to 'حذف', @product, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }   
    \|
    = link_to 'بازگشت', products_path 
      

.category-info.general
  %div
    .line.set-center  
      = image_tag 'cat-title.png'
      .go-up.set-center.title-cat= @product.title
    .category-link 
      %b= @pro_category
      .cat-link{:style => "height:100%"}
        - if @product.description.present?                 
          %div=raw @product.description          
- if @product.product_folders.present?
  - @product.product_folders.each do |product_folder|
    %button.filter{"data-filter" => "#folder-"+product_folder.id.to_s, :style => "color:#FBFB87; font-size:20px;margin-top:2%;"}= product_folder.title 
  - #
    .product_show_pics{:style => "margin-top:0;"}
      .product-details#Container    
        
        - @product.pictures.order('title_en ASC').each do |picture|
          - if picture.product_folder_id.present?
            .model-pro.mix{:id => 'folder-'+picture.product_folder_id.to_s, "data-my-order" => picture.id}
              = render 'products/filter_folder', :picture => picture
    - else 
  .product_show_pics
    .product-details      
      - @product.pictures.order('title_en ASC').each do |picture|        
        .model-pro
          = render 'products/filter_folder', :picture => picture

.clr-float

:javascript    
  $('.show-product').colorbox({title: $(this).attr('title') });   
  $(function(){
    $('#Container').mixItUp();  
  });
  

