%p#notice= notice
-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'ویرایش', edit_product_path(@product)       
    \|
    = link_to 'بازگشت', products_path 
      

    
.col-sm-4
  %p   
    = @product.title
  %p    
    = @product.description
  %p    
    = @product.category.title
  
.col-sm-4
  - @product.pictures.each do |pic|
    .product-pics    
      =link_to (image_tag pic.image(:medium)), pic.image(:large), :data => { :colorbox => true }, :title => pic.description         
    .download
      = link_to 'Download', download_product_path(pic.image)
        

