= image_tag 'lobby.jpg', :class => "bg"   
%p#notice= notice

-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'ویرایش', edit_product_path(@product)    
    \|
    = link_to 'حذف', @product, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }   
    \|
    = link_to 'بازگشت', products_path 
      

.category-info.general
  %div
    .line.set-center  
      = image_tag 'cat-title.png'
      .go-up.set-center.title-cat= @product.title
    .category-link 
      %b= @pro_category
      .cat-link{:style => "height:100%"}
        - if @product.description.present?                 
          %div=raw @product.description          
 
.product_show_pics
  .product-details    
    - @product.pictures.order('title_en ASC').each do |picture|
      .model-pro   
        .pic-title= picture.title
        =link_to picture.image(:large), :data => { :colorbox => true }, :class => "show-product", :title =>  picture.title do          
          = image_tag  picture.image(:small), :class => "sample", :model => picture.title
          .cover
            = image_tag 'zoom.png', :class => "zoom-pic"
        - if  picture.download
          .go-download
            = link_to  download_product_path(:picture_id =>  picture.id) do
              = image_tag 'dnwn.png', :style => "height:30px; width:30px;"
              = t ('download')
        - if is_admin?
          %div
            = link_to 'ویرایش', edit_picture_path(picture)
            \|
            = link_to 'حذف', picture, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' } 
        
          
        - if picture.coming_soon
          = image_tag 'coming-soon.png', :class => "coming-soon", :style => 'margin-right: -52%;margin-top: -103%;'
    
  

.clr-float

:javascript    
  $('.show-product').colorbox({title: $(this).attr('title') });   
  
  

