!!!
%html
  %head
    %title PrepareProject
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .pull-left
      =link_to (image_tag "en.png", :class => "language-icon farc", :id => "en"), locale: :en
      =link_to (image_tag "fa.png", :class => "language-icon", :id => "en"), locale: :fa
    .header  
      
      -if I18n.locale == :fa        
        .menu_fa{:id => I18n.locale}
          = render "shared/menu"
      - else
        .menu_en{:id => I18n.locale}
          = render "shared/menu"
    = yield
