!!!
%html
  %head
    %title رنگین کمان
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png'
    = csrf_meta_tags
  %body 
    
    .overlay
      %header
        #header-top
        #logo-menu
          #logo
            = image_tag "logo.png"          
          #mainmenu
            %nav
              -if I18n.locale == :fa        
                .menu_fa{:class => I18n.locale}
                  = render "shared/menu"
              - else
                .menu_en{:class => I18n.locale}
                  = render "shared/menu"
    #content{:class => I18n.locale}        
      = yield
    %footer{:class => I18n.locale}
      = render "shared/footer"
